# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# DB files
*.ilk
*.pdb
*.iobj
*.ipdb

#Compiler files
ImageProcessing/dist/
UnitTests/x64/
UnitTests/x86/

#Studio files
.vs/

#Debug executable files
dist/x64/Debug/
dist/x86/Debug/

#Unit test lib files
dist/**/UnitTests.*
